@model IEnumerable<PXLPRO2023Shoppers24.Models.Laptop>

@{
    ViewData["Title"] = "Laptops";
}
<h1>All laptops</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    <div class="container border mt-5">
        <div class="row mx-auto p-3">
            <div class="col-4">
                <img src="@item.ImageURL" style="width:300px;" />
            </div>
            <div class="col-8">
                <div class="row" style="color:blueviolet;font-weight:bolder">@item.Name</div>
                <div class="row" style="color:slategrey">@item.ScreenSize inches | @item.Processor | @item.InternalRAM GB RAM</div>
                <div class="row" style="color:black;font-weight:bolder">@item.Price,-</div>
                <div class="row" style="color:forestgreen">
                    Laptops available @item.StockQuantity
                </div>
                <div class="row">
                    <a class="btn btn-success text-white mt-5" asp-controller="Order" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id" style="width:100px"> <i class="bi bi-cart-plus"></i> Shop</a>
                </div>
                <div class="row">
                    <div class="col-4"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></div>
                    <div class="col-4"><a asp-action="Details" asp-route-id="@item.Id">Details</a></div>
                    <div class="col-4"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></div>
                </div>
            </div>
        </div>
    </div>
}

@*

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalRAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalStorageCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Touchscreen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoCard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalRAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStorageCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Touchscreen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoCard)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}*@
    </tbody>
</table>
